.ra-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.45);
  z-index:30;
}

 #ra-widget {
   background:#fff;
   border-radius: 3px;
   position:fixed;
   min-height: 320px;
   width:290px;
   right:-310px;
   top:120px;
   z-index:40;
   box-shadow: 0 4px 24px rgba(0,0,0,0.5);
   transition: all 0.5s ease-out;
    z-index: 50;
 }
 #ra-widget.ra-widget-open {
   right: 10px;
 }

 #ra-widget .side-tab {
   position: absolute;
   left: -60px;
   top: 25px;
   z-index: 45;
   cursor: pointer;
   transition: all .1s linear;
 }
 #ra-widget .side-tab:hover {
   position: absolute;
   left: -66px;
   top: 25px;
   z-index: 45;
 }
 .ra-widget-open .side-tab:hover {
   position: absolute;
   left: -60px;
   top: 25px;
   z-index: 45;
   cursor: pointer;
 }

#ra-widget .container { width: 100%; margin: 0; padding: 5px; position: relative; }
/*.choose-device .container { background: #fff; }*/
.choose-device #set-final .rf-hidden { display: none; }

#ra-widget .step-ra-form { padding: 0 20px 5px 20px; }

/*
.progress, .progress .progress-bar {
  border-radius: 0;
  margin: 0;
  padding: 0;
  height: 8px;
}*/
.p-a-0 { padding: 0; }
.p-x-0 { padding-left: 0; padding-right: 0; }
.p-t-1 { padding-top: 1rem; }
.p-t-2 { padding-top: 1.5rem; }
.p-t-3 { padding-top: 2rem; }
.p-b-1 { padding-bottom: 1rem; }
.p-b-2 { padding-bottom: 1.5rem; }
.p-b-3 { padding-bottom: 2rem; }

.m-t-1 { margin-top: 2rem; }
.m-t-2 { margin-top: 4rem; }
.m-t-3 { margin-top: 6rem; }
.m-b-1 { margin-bottom: 2rem; }
.m-b-2 { margin-bottom: 4rem; }
.m-b-3 { margin-bottom: 6rem; }

.no-beak { white-space: nowrap; }

#ra-widget .ra-steps-content .ra-step, #ra-widget .rf-set {
  display: none;
}
#ra-widget .ra-steps-content > .ra-step:first-child {
  display: block;
}

/*
@media (min-width: 768px) {
  #ra-widget .choose-device .ra-steps {
    padding: 0 30px;
  }
  #ra-widget .steps-content .ra-step {
    min-height: 350px;
  }
  #ra-widget .step.step-result  {
    padding-left: 90px;
    padding-right: 90px;
  }
}
@media (min-width: 960px) {
  #ra-widget .step.step-result  {
    padding-left: 180px;
    padding-right: 180px;
  }
}
*/

#ra-widget .ra-steps .ra-step-container {
  margin-top: 16px;
}

#ra-widget .ra-steps .ra-steps-content {
  margin-bottom: 15px;
}

.ra-step-nav {
    display: none;
    margin: 16px auto 8px;
    text-align: center;
}
.ra-step-nav .ra-nav-dot {
    display: inline-block;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    overflow: hidden;
    background: #c6d1d6;
    margin: 0 2px;
}
.ra-step-nav .ra-nav-dot.active {
    background: #5bbd69;
}


#ra-widget .ra-step p { padding: 0; margin: 0; font-size: 15px; }
/*.steps-content .step-question { min-height: 100px; overflow: hidden; }*/
#ra-widget .ra-step .step-question p { font-size: 15px; line-height: 1.3; font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
font-weight: 400; margin: 5px 0 24px; padding: 0 20px !important; }
#ra-widget .ra-step .lead { font-size: 18px; line-height: 1.3; font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
font-weight: 500; margin: 5px 0 20px; }

#ra-widget .choose-device .ra-step .step-question .question-text {
  font-size: 20px;
  line-height: 1.45;
  font-weight: 400;
  margin: 5px 0 20px;
  padding: 0 0px !important;
}


  #ra-widget .ra-step .step-question p {
    margin-bottom: 0px;
    font-size: 16px;
    line-height: 1.35;
    font-weight: 400;
  }


#ra-widget .btn, #ra-widget .btn.btn-primary,
#ra-widget .ra-steps-pager .btn,
#ra-widget .ra-steps-pager .btn-ra-step-next,
#ra-widget .ra-steps-pager .btn-ra-step-back  {
  padding: 14px 22px 15px 22px; margin: 3px; background-color: #a5385f;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 16px; line-height: 18px; color: #fff; letter-spacing: 1px;
font-weight: 400; text-transform: uppercase; border-radius: 3px;
  border-color: transparent; -moz-box-shadow: 0 1px 5px 1px rgba(0,0,0,0.1); box-shadow: 0 1px 5px 1px rgba(0,0,0,0.1); }
#ra-widget .ra-steps-pager > .btn:last-child { background: #a5385f; color: #fff; text-align: left; padding-left: 38px; padding-right: 0; }
#ra-widget .ra-steps-pager .btn i {
  position: relative; display: inline-block; font-size: 14px; line-height: 18px; top: -1px; vertical-align: middle; margin-right: 3px;
  -webkit-transition: all .15s ease;
  -moz-transition: all .15s ease;
  -o-transition: all .15s ease;
  transition: all .15s ease;
 }

 #ra-widget .ra-steps-pager .btn { width: 140px; padding: 18px 28px 19px 0; margin: 3px; text-align: right; }

 #ra-widget .ra-step.step-result .step-answers .btn {
    height: 64px;
    width: auto;
    margin: 4px;
    border-radius: 3px;
    margin-top: 30px;
 }

#ra-widget .ra-steps-pager .btn-step-back {
    padding: 16px 30px 15px 0;
  }
 #ra-widget .ra-steps-pager > .btn:first-child:hover i {
   margin-right: 8px;
 }
 #ra-widget .ra-steps-pager > .btn:last-child:hover i {
   margin-left: 8px;
 }
 /*
.step .step-answers .btn {
  height: 100px;
width: 100px;
margin: 4px;
border-radius: 50%;
}
*/


#ra-widget .ra-steps-pager .btn,
#ra-widget .ra-steps-pager .btn-ra-step-next,
#ra-widget .ra-steps-pager .btn-ra-step-back  {
font-weight: 500;
}



#ra-widget .btn-lg { border-radius: 3px; padding: 18px 24px 18px 24px; }

#ra-widget .panel-body { background-color: #f2e8ec; background-color: #F5F5F5; }

#ra-widget .ra-step .step-question .progress-indicator {
  font-size: 13px;
  margin-bottom: 10px;
  font-weight: 400;
  font-family: sans-serif;
  color: #94224c;
}

#ra-widget .form-group { position: relative; }
#ra-widget .form-group .control-label {
  line-height: 36px;
  font-weight: 500;
  font-size: 17px;
  text-align: right;
}

#ra-widget .form-group .form-control {
  /*box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.15);*/
  border: 2px solid #e2e0e0;
  border-radius: 1px;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
}
#ra-widget .form-control.invalid { border-color: #cc162d; }

#ra-widget .form-group .input-lg {
  padding: 15px 20px;
  font-size: 17px;
  line-height: 20px;
  height: 52px;
  border-radius: 3px;
}

#ra-widget .tooltip.right {
    padding: 0 5px;
    margin-left: -1px;
}
#ra-widget .tooltip.right .tooltip-arrow {
    top: 50%;
    left: -5px;
    margin-top: -9px;
    border-width: 9px 15px 9px 0;
    border-right-color: #000;
}
#ra-widget .tooltip-inner {
    max-width: 200px;
    padding: 5px 8px;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: 5px;
    font-weight: 400;
    letter-spacing: 0px;
}


#ra-widget .custom-multiple-select, #ra-widget .custom-single-select {
    display: inline-block;
    margin: 0 3px 8px;
    position: relative;
    opacity: 0;
    cursor: pointer;
    /*-webkit-transform: translateX(35px);
    transform: translateX(35px);
    will-change: transform;*/
}
/* @media (min-width: 768px) {
  #ra-widget .custom-multiple-select, #ra-widget .custom-single-select {
    margin: 0 10px 20px;
  }
} */

#ra-widget .custom-single-select .input-icon,
#ra-widget .custom-multiple-select .input-icon {
  position: absolute;
  top: -10px;
  right: 0px;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  line-height: 24px;
  font-size: 14px;
  border-radius: 50%;
  color: #fff;
  background-color: #7ec855;
  opacity: 0;
  -webkit-transition: all .15s ease;
  -moz-transition: all .15s ease;
  -o-transition: all .15s ease;
  transition: all .15s ease;
}

#ra-widget .ra-steps {
    margin-bottom: 0px;
  }
#ra-widget .ra-step-container { margin-top: 64px; }

#ra-widget .ra-step .animated {
    opacity: 0;
    -webkit-transform: translateX(35px);
    transform: translateX(35px);
}
/*
.animate-in .ca-form__group:nth-child(1), .animate-in .custom-multiple-select:nth-child(1), .animate-in .custom-single-select:nth-child(1) {
    -webkit-animation: side-swipe-in .3s ease .2s forwards;
    animation: side-swipe-in .3s ease .2s forwards;
}
.animate-in .ca-form__group:nth-child(2), .animate-in .custom-multiple-select:nth-child(2), .animate-in .custom-single-select:nth-child(2) {
    -webkit-animation: side-swipe-in .3s ease .3s forwards;
    animation: side-swipe-in .3s ease .3s forwards;
}
.animate-in .ca-form__group:nth-child(3), .animate-in .custom-multiple-select:nth-child(3), .animate-in .custom-single-select:nth-child(3) {
    -webkit-animation: side-swipe-in .3s ease .4s forwards;
    animation: side-swipe-in .3s ease .4s forwards;
}
.animate-in .ca-form__group:nth-child(4), .animate-in .custom-multiple-select:nth-child(4), .animate-in .custom-single-select:nth-child(4) {
    -webkit-animation: side-swipe-in .3s ease .5s forwards;
    animation: side-swipe-in .3s ease .5s forwards;
}
.animate-in .ca-form__group:nth-child(5), .animate-in .custom-multiple-select:nth-child(5), .animate-in .custom-single-select:nth-child(5) {
    -webkit-animation: side-swipe-in .3s ease .6s forwards;
    animation: side-swipe-in .3s ease .6s forwards;
}
.animate-in .ca-form__group:nth-child(6), .animate-in .custom-multiple-select:nth-child(6), .animate-in .custom-single-select:nth-child(6) {
    -webkit-animation: side-swipe-in .3s ease .7s forwards;
    animation: side-swipe-in .3s ease .7s forwards;
}
*/
#ra-widget .ra-step .animated:nth-child(1) {
    -webkit-animation-duration: .25s; animation-duration: .25s;
    -webkit-animation-delay: .1s; animation-delay: .1s;
}
#ra-widget .ra-step .animated:nth-child(2) {
    -webkit-animation-duration: .25s; animation-duration: .25s;
    -webkit-animation-delay: .2s; animation-delay: .2s;
}
#ra-widget .ra-step .animated:nth-child(3) {
    -webkit-animation-duration: .25s; animation-duration: .25s;
    -webkit-animation-delay: .3s; animation-delay: .3s;
}
#ra-widget .ra-step .animated:nth-child(4) {
    -webkit-animation-duration: .25s; animation-duration: .25s;
    -webkit-animation-delay: .4s; animation-delay: .4s;
}
#ra-widget .ra-step .animated:nth-child(5) {
    -webkit-animation-duration: .25s; animation-duration: .25s;
    -webkit-animation-delay: .5s; animation-delay: .5s;
}
#ra-widget .ra-step .animated:nth-child(6) {
    -webkit-animation-duration: .25s; animation-duration: .25s;
    -webkit-animation-delay: .6s; animation-delay: .6s;
}


#ra-widget .ra-step .help-text {
  font-size: 17px;
  font-weight: 300;
  margin: 15px 0 0 0;
  padding: 0;
  display: none;
}
#ra-widget .ra-step .step-answers .custom-single-select label,
#ra-widget .ra-step .step-answers .custom-multiple-select label  {
  cursor: pointer;
  display: table-cell;
  vertical-align: middle;
  width: 150px;
  height: 144px;
  max-height: 140px;
  background-color: #fff; font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  color: #444;
  font-size: 22px;
  /*padding:100px 20px 20px 20px;*/
  padding: 0 10px 9px;
  line-height: 28px;
  margin: 0px;
  text-align: center;
  border-bottom:solid 3px #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 3px 1px rgba(0,0,0,0.2);
  box-shadow: 0 1px 3px 1px rgba(0,0,0,0.2);
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease;
}
#ra-widget .ra-step .step-answers label:hover {
  border-bottom-color: #a5385f;
  color: #a5385f;
  -moz-box-shadow: 0 2px 8px 0px rgba(0,0,0,0.3);
  box-shadow: 0 2px 8px 0px rgba(0,0,0,0.3);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

#ra-widget .choose-device .ra-step .step-answers .custom-single-select label,
#ra-widget .choose-device .ra-step .step-answers .custom-multiple-select label  {
  height: 136px;
}


  #ra-widget .ra-step .step-answers .custom-single-select label  {
    width: 110px; height: 54px; max-height: 54px; font-size: 15px; line-height: 18px; padding: 0 10px;
  }
  #ra-widget .ra-step .step-answers .custom-multiple-select label  {
    width: 100%; height: 48px; max-height: 48px; font-size: 15px; line-height: 48px; padding: 0 0px;
  }

#ra-widget .ra-step .step-answers input[type=checkbox],
#ra-widget .ra-step .step-answers input[type=radio] {
  opacity: 0;
}

#ra-widget .custom-multiple-select input[type='checkbox']:checked + label, #ra-widget .custom-single-select input[type='radio']:checked + label {
    border-color: #a5385f;
    color: #a5385f;
}
#ra-widget .custom-multiple-select input[type='checkbox']:checked + label > .input-icon, #ra-widget .custom-single-select input[type='radio']:checked + label > .input-icon {
    opacity: 1;
}

#ra-widget .ra-step .step-answers .feature-item label  {
  vertical-align: bottom;
  padding-bottom: 16px;
  font-size: 14px;
}

#ra-widget .custom-multiple-select label img, #ra-widget .custom-multiple-select label svg, #ra-widget .custom-single-select label img, #ra-widget .custom-single-select label svg {
    display: block;
    height: 36px;
    width: 36px;
    position: relative;
    margin: 8px auto;
}

#ra-widget .ra-step .step-answers .custom-multiple-select {
  width: 120px;
  height: auto;
  display: inline-block;
  margin: 0;
  padding: 0;
}
#ra-widget .ra-step .step-answers .custom-multiple-select label {
  width: 100%;
  display: block;
  margin: 0;
  padding: 10px 0 0;
  height: 72px;
  max-height: 72px;
  font-size: 13px;
  text-align: center;
  line-height: 1.2;
}
#ra-widget .custom-multiple-select label img, #ra-widget .custom-multiple-select label svg {
    display: block;
    height: 30px;
    width: 30px;
    position: relative;
    margin: 0 auto 4px auto;
}

#ra-widget .btn-ra-step-next { display: none; }

#raName {
  background: #fff url('/rebrand/img/risk-assessment/icons/input-name.png') 12px center no-repeat;
  padding-left: 43px;
}
#raPhone {
  background: #fff url('/rebrand/img/risk-assessment/icons/input-phone.png') 12px center no-repeat;
  padding-left: 43px;
}
#raEmail {
  background: #fff url('/rebrand/img/risk-assessment/icons/input-email.png') 12px center no-repeat;
  padding-left: 43px;
}

#ra-widget .choose-device #set-final .lead {
  font-weight: 300;font-size: 20px; margin-bottom: 24px;
}
#ra-widget .choose-device #set-final .h2 {
  font-weight: 500; margin-bottom: 13px;
}
#ra-widget .choose-device #question-final p { margin-bottom: 16px; }

#ra-widget .choose-device #set-final .h2 a {
  color: #a5385f;
  text-decoration: underline;
}


#ra-widget .ra-progress {
  height: 80px;
  width: 80px;
    background: transparent;
    border-radius: 0;
    box-shadow: none;
    margin: 0 auto;
    display: none;
}
#ra-widget .ra-progress > svg {
  height: 100%;
  display: block;
}

#ra-widget .progress-track {
  display: block;
  height: 24px;
  width: 100%;
    background: #e5e5e5;
    border-radius: 0px;
    box-shadow: none;
    margin: 0px auto;
}
#ra-widget .progress-bar {
  height: 24px;
  line-height: 24px;
  background-color: #20898a;
}


#ra-widget .badge-blurred-risk-score { display: block; max-width:172px; width: 100%; margin:0px auto 18px auto; }


#ra-widget .ra-step p.disclaimer {
  font-size:9px; line-height: 10px; font-weight: 300; margin: 0; padding:0;
  font-weight: 400;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #999;
}

#ra-widget .ra-step.step-result .step-answers p { padding: 0 10px; }

#ra-widget .ra-step.step-result .step-answers .btn {
  font-size: 14px;
    height: 50px;
    letter-spacing: 0.02em;
  }

#ra-widget .txtError {
  color: #cc162d;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: left;
}

#ra-widget .errCaption {
  position: absolute;
  display: inline-block;
  right: 6px;
  top: 50%;
  margin-top: -14px;
  color: #cc162e;
  font-weight: 500;
}
