//sass --watch styles.scss:styles.min.css  --style compressed
/*@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poppins:700&display=swap');*/
@import url('https://fonts.googleapis.com/css?family=Poppins:700|Source+Sans+Pro&display=swap');

/* Variables */
$primary-green: #4CAF50;
$orange: #FF5722;
$grey: #f2f2f2;

@mixin button-outline {
    background-color: #fff !important;
    border: 2px solid $orange !important;
    color: #FF5722 !important;
    font-size: 1.1rem;
    font-weight: bold;

    &:hover {
        background-color: #FF5722 !important;
        border-color: #FF5722 !important;
        color: #fff !important;
    }
}

@mixin shadow {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
/****/
.debug {
    border: 1px solid red;
}
/****/

html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
body {
    /*background-color: $grey;*/
    color: #212121;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
.bg-grey {
    background-color: $grey;
}
.bg-green {
    background-color: $primary-green;
}
.text-green {
    color: $primary-green;
}
.header {
    background-color: $primary-green;
    /*background-image: url('banner.jpg');*/
    background-position: top;
    background-size: cover;

    h1 {
        color: #fff;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
    }
}

p {
    font-family: 'Source Sans Pro', Tahoma, Geneva, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0px;
}

.navbar-brand img{
    width: 220px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.poppins {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.fa-heart {
    color: #c81e29;
}

.phone-text{
    line-height: .9rem;
    font-size: 1.3rem;
}
.card {
    font-family: 'Open Sans', sans-serif;

}
main .cta-button {
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    background-color: $primary-green;
    border-color: $primary-green;

    &:hover {
        @include shadow;
    }
}
.cta-button:hover {
    background: rgba(0,105,255,.1);
}
#medAlertDevices {
    background: linear-gradient(180deg,rgba(255,255,255,0) 55%, $orange 60%);
    background-color: transparent;
    font-size: 2.85rem;
}
.featured-companies img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.featured-companies img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    opacity: .6;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    transition: .6s;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;

}
.featured-companies img:hover {
    filter: grayscale(0%);
    opacity: 1;
}
.card {
    border-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.card-header {
    background-color: #fff;
    border: 0;
}
.card-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.hidden {
    display: none;
}
input {
    background-color: #f1f1f1 !important;
    border: 1px solid #eee !important;
    color: rgba(3,27,78,.7);
}

section:first-of-type {
    padding-bottom: 6rem;
    padding-top: 5rem;
}
section {
    padding-bottom: 3.25rem;
    padding-top: 3rem;
}
nav {
    border-bottom: 1px solid #ddd;
}
a.btn.btn-primary, button.btn.btn-primary {
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.5s ease;
    background-color: $orange;
    border: 2px solid $orange;
}
a.btn, button.btn {
    border-radius:25px;
    font-size: 1.4rem;
}
.btn.btn-primary:hover {
    background-color: $primary-green;
    border-color: $primary-green;
}
.phone-btn {
    @include button-outline;
}

#bottom-cta {
    padding-top: 100px;
    padding-bottom: 100px;
    color: #fff;

    button {
        background-color: $orange;
        border: 2px solid $orange;
        font-size: 1.5rem;

        &:hover {
            @include shadow;
        }
    }
}
footer {
    background-color: #333;
    color: #fff;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    text-align: center;
    p {
        a {
            color: #fff;

            &:hover {
                color: rgba(255, 255, 255, .5);
                 text-decoration: none;
            }
        }
    }
    .social-media {
        font-size: 50%;
        i.fas {
            color: $orange;
        }
    }

}
.img-small {
    max-height: 150px;
}
i.fas {
    color: $primary-green;
}
.text-small {
    font-size: 90%;
}
