//sass --watch styles.scss:styles.min.css  --style compressed
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap');
@font-face {
  font-family: 'Manifold DSA';
  src: url('../fonts/ManifoldDSA-DemiBold.otf');
}


$red: #EC1F27;
//$red: #ED2C24;
$black: #231F20;
$dark-grey: #292D2F;
$white: #FFFFFF;

html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.1rem;
}

nav {
    &.navbar {
        background-color: $red;

        a.navbar-brand {
            color: $white !important;
            font-family: 'Manifold DSA', 'Source Sans Pro', sans-serif;
            .small-text {
                font-size: 1rem;
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: 300;
            }
            img {
                height: 50px;
            }
        }
        a.nav-link {
            color: $white !important;
            &.disabled {

            }
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Manifold DSA', 'Source Sans Pro', sans-serif;
}

h2 {
    margin-bottom: 40px;
}
section {
    padding-bottom: 50px;
    padding-top: 50px;
}
footer {
    background-color: $red;
    color: $white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    padding-top: 65px;
    padding-bottom: 20px;
    .h1, .h2, .h3, .h4, .h5, .h6 {
        font-family: 'Source Sans Pro', sans-serif;
    }
    ul {
        list-style: none;
        padding-left: 0;
    }
    a {
        color: $white;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 300;
    }
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
/* Text Styles */
.text-red {
    color: $red;
}
/* End Text Styles */

/* Background Colors */
.bg-dark-grey {
    background-color: $dark-grey;
    color: $white;
}
/* End Background Colors */

/* Button Styles */
.btn-primary {
    background-color: $red;
    border: 0;
}
.btn {
    font-family: 'Manifold DSA', 'Source Sans Pro', sans-serif;
}
/* End Button Styles */

/* Card Styles */
.event-card {
    border-top: 10px solid $red;
    border-radius: 0;

}
/* End Card Styles */
.jumbotron {
    margin-bottom: 0;
    .card {
        border: 0;
        border-radius: 0;
        border-top: 10px solid $red;

    }
}

#working-groups {
    .card {
        border-radius: 0;
        color: #333;
        text-align: center;
    }
}
