//sass --watch styles.scss:styles.min.css  --style compressed
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap');
@font-face {
  font-family: 'Manifold DSA';
  src: url('../fonts/ManifoldDSA-DemiBold.otf');
}


$red: #EC1F27;
//$red: #ED2C24;
$black: #231F20;
$dark-grey: #292D2F;
$white: #FFFFFF;
$font-manifold: 'Manifold DSA', 'Source Sans Pro', sans-serif;
.hidden {
    display: none;
}

html {
    background-color: $red;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.1rem;
}

nav {
    &.navbar {
        background-color: $red;

        a.navbar-brand {
            color: $white !important;
            line-height: 1.25rem;
            font-family: $font-manifold;
            .small {
                font-size: 1rem;
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: 300;
            }
            img {
                margin-right: 25px;
                height: 50px;
            }
        }
        a.nav-link {
            color: $white !important;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 1.1rem;
            font-weight: 300;
            &.disabled {

            }
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-manifold;
}

h2 {
    margin-bottom: 40px;
}
section {
    padding-bottom: 50px;
    padding-top: 50px;
}
footer {
    background-color: $red;
    color: $white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    padding-top: 65px;
    padding-bottom: 20px;
    .h1, .h2, .h3, .h4, .h5, .h6 {
        font-family: 'Source Sans Pro', sans-serif;
    }
    ul {
        list-style: none;
        padding-left: 0;
    }
    a {
        color: $white;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 300;
        &:hover {
            color: $white;
        }
    }
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
/* Text Styles */
.text-red {
    color: $red;
}
/* End Text Styles */

/* Background Colors */
.bg-dark-grey {
    background-color: $dark-grey;
    color: $white;
}
/* End Background Colors */

/* Button Styles */
.btn-primary {
    background-color: $red;
    border: 0;
}
.btn {
    font-family: $font-manifold;
}
/* End Button Styles */

/* Card Styles */
.event-card {
    border-top: 10px solid $red;
    border-radius: 0;

    a.event-link {
        color: $red;
        font-family: $font-manifold;
        font-size: 1.15rem;
    }
}
/* End Card Styles */
.header {
    background-image: url('https://ebdsa-website.s3-us-west-1.amazonaws.com/upload/2018-08-31/1535695366900-dsa-header-cropped.jpg');
    background-position: center;
    background-size: cover;
}
.jumbotron {
    background-color: rgba(0,0,0, .5);
    backdrop-filter: blur(3px);




    margin-bottom: 0;
    .card {
        border: 0;
        border-radius: 0;
        border-top: 10px solid $red;

    }
}


#working-groups {
    .card {
        background-position: center;
        background-size: cover;
        border: 0;
        border-radius: 0;
        color: #fff;
        font-family: $font-manifold;
        font-size: 1.25rem;
        min-height: 225px;
        text-align: center;
        .card-body {
            backdrop-filter: blur(2px);
            background-color: rgba(0, 0, 0, 0.6);
        }
    }
}
